<div style="background: url(../img/img--games-l-1.jpg) no-repeat 50% 50%" class="game-info">
    <div class="width-wrap">
        <div class="game-info-scroll scrollbar">
            <div class="game-info--header"><a href="#info" class="close-game js--close-block"></a>

                <div class="game-info--text">
                    <p>шутер бродилка зомби эльф огнестрельное оружие команда холодное оружие спасение мира апокалипсис
                        много крови</p>
                </div>
                <div class="justifyed">
                    <h2>PAYDAY 2</h2>

                    <div class="circle-border">
                        <svg>
                            <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                            <path stroke-dashoffset="0" stroke-dasharray="220% 314%"
                                  d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z"></path>
                            <text x="40" y="65">4</text>
                        </svg>
                    </div>
                </div>
                <span class="game-info--params">16+  |  Шлем, Платформа  |  1-4 чел.  |  60мин+</span>

                <div class="game-info--btns"><a href="#demo" class="btn btn-white-border js--open-block">Бесплатная
                    игра</a><a href="#booking" class="btn btn-red js--open-block">Играть</a></div>
            </div>
            <div class="justifyed">
                <div class="game-info--about">
                    <h3>Описание</h3>

                    <p>Зомби-апокалипсис в&nbsp;виртуальной реальности! &laquo;Солнечная Аризона&raquo;&nbsp;&mdash; это
                        шутер от&nbsp;первого лица, созданный исключительно для виртуальной реальности и&nbsp;погружающий
                        вас в&nbsp;постапокалиптический мир юго-запада Америки, кишащий зомби...</p>

                    <div class="mobile-text">
                        <p>Симулятор выживания среди зомби с&nbsp;полным эффектом присутствия: исследуйте окружающий
                            мир, чтобы найти что-либо полезное даёт еще более полный эффект присутствия благодаря
                            виртуальной реальности.</p>

                        <p>Совместная многопользовательская игра: объединяйте усилия с&nbsp;друзьями в&nbsp;совместной
                            кампании или многопользовательском режиме &laquo;Орда&raquo;, где могут принять участие до&nbsp;четырех
                            игроков одновременно, но&nbsp;не&nbsp;забывайте: чем больше теплых мозгов, тем больше
                            прожорливой нежити.</p>
                    </div>
                    <a href="" data-open="Читать полностью" data-close="Скрыть описание"
                       class="btn btn-white-border js--toggle-game-about">Читать полностью</a>
                </div>
                <div class="game-info--visual">
                    <h3>Фото и видео</h3>
                    <ul class="photos">
                        <li><a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="" class="video"><img
                                src="../img/img--game-video-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-1.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-2.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-2.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-1.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-2.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-2.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-1.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-2.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-2.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-1.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-2.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-2.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-1.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-2.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-2.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-1.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-1.jpg" alt/></a></li>
                        <li><a href="../img/img--game-photo-2.jpg" data-fancybox="game"><img
                                src="../img/img--game-photo-2.jpg" alt/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>