<div class="games-slider">
    <div data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)"
         data-bgmobile="url(../img/img--games-s-1-mob.jpg)" class="games-slider--el js--open-game"><span
            class="game-number">1</span>

        <div class="game-content">
            <div class="game-content-wrap">
                <div class="slide-wrap">
                    <div class="game-content--top">
                        <div class="game-content--age">16+</div>
                        <ul class="game-content--tags">
                            <li>шутер</li>
                            <li>бродилка</li>
                            <li>зомби</li>
                            <li>эльф</li>
                            <li>огнестрельное оружие</li>
                            <li>команда</li>
                            <li>холодное оружие</li>
                            <li>спасение</li>
                        </ul>
                    </div>
                </div>
                <h2 class="game-content-name">Payday 2</h2>

                <div class="slide-wrap">
                    <div class="game-content--middle justifyed">
                        <div class="game-content--rating">
                            <div class="circle-border">
                                <svg>
                                    <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                    <path stroke-dashoffset="0" stroke-dasharray="220% 314%"
                                          d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z"></path>
                                    <text x="40" y="65">4</text>
                                </svg>
                            </div>
                            <div class="justifyed"><span>Всего</span><span class="strong">2564<img
                                    src="../img/icon--user.svg" alt / class="icon-player"></span></div>
                        </div>
                        <div class="game-content--about">
                            <p>Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки
                                очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников...
                                Рискнешь?</p>
                        </div>
                    </div>
                    <div class="game-content--bottom">
                        <ul class="game-content--params justifyed">
                            <li><img src="../img/icon-players.svg" alt / class="icon"><span>1-6 чел</span></li>
                            <li><img src="../img/icon--joystick.svg" alt / class="icon"><span>шлем, платформа</span>
                            </li>
                            <li><img src="../img/icon--clock.svg" alt / class="icon"><span>30 мин+</span></li>
                        </ul>
                        <div class="game-content--btns"><a href="" data-id="game_001"
                                                           data-action="../js/ajax/get-game.html" data-method="post"
                                                           class="btn btn-white-border js--game-info">Об игре</a><a
                                href="#booking" class="btn btn-red js--open-block">Играть</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)"
         data-bgmobile="url(../img/img--games-s-1-mob.jpg)" class="games-slider--el js--open-game"><span
            class="game-number">1</span>

        <div class="game-content">
            <div class="game-content-wrap">
                <div class="slide-wrap">
                    <div class="game-content--top">
                        <div class="game-content--age">16+</div>
                        <ul class="game-content--tags">
                            <li>шутер</li>
                            <li>бродилка</li>
                            <li>зомби</li>
                            <li>эльф</li>
                            <li>огнестрельное оружие</li>
                            <li>команда</li>
                            <li>холодное оружие</li>
                            <li>спасение</li>
                        </ul>
                    </div>
                </div>
                <h2 class="game-content-name">Payday 2</h2>

                <div class="slide-wrap">
                    <div class="game-content--middle justifyed">
                        <div class="game-content--rating">
                            <div class="circle-border">
                                <svg>
                                    <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                    <path stroke-dashoffset="0" stroke-dasharray="220% 314%"
                                          d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z"></path>
                                    <text x="40" y="65">4</text>
                                </svg>
                            </div>
                            <div class="justifyed"><span>Всего</span><span class="strong">2564<img
                                    src="../img/icon--user.svg" alt / class="icon-player"></span></div>
                        </div>
                        <div class="game-content--about">
                            <p>Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки
                                очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников...
                                Рискнешь?</p>
                        </div>
                    </div>
                    <div class="game-content--bottom">
                        <ul class="game-content--params justifyed">
                            <li><img src="../img/icon-players.svg" alt / class="icon"><span>1-6 чел</span></li>
                            <li><img src="../img/icon--joystick.svg" alt / class="icon"><span>шлем, платформа</span>
                            </li>
                            <li><img src="../img/icon--clock.svg" alt / class="icon"><span>30 мин+</span></li>
                        </ul>
                        <div class="game-content--btns"><a href="" data-id="game_001"
                                                           data-action="../js/ajax/get-game.html" data-method="post"
                                                           class="btn btn-white-border js--game-info">Об игре</a><a
                                href="#booking" class="btn btn-red js--open-block">Играть</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div><div data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)"
         data-bgmobile="url(../img/img--games-s-1-mob.jpg)" class="games-slider--el js--open-game"><span
            class="game-number">1</span>

        <div class="game-content">
            <div class="game-content-wrap">
                <div class="slide-wrap">
                    <div class="game-content--top">
                        <div class="game-content--age">16+</div>
                        <ul class="game-content--tags">
                            <li>шутер</li>
                            <li>бродилка</li>
                            <li>зомби</li>
                            <li>эльф</li>
                            <li>огнестрельное оружие</li>
                            <li>команда</li>
                            <li>холодное оружие</li>
                            <li>спасение</li>
                        </ul>
                    </div>
                </div>
                <h2 class="game-content-name">Payday 2</h2>

                <div class="slide-wrap">
                    <div class="game-content--middle justifyed">
                        <div class="game-content--rating">
                            <div class="circle-border">
                                <svg>
                                    <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                    <path stroke-dashoffset="0" stroke-dasharray="220% 314%"
                                          d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z"></path>
                                    <text x="40" y="65">4</text>
                                </svg>
                            </div>
                            <div class="justifyed"><span>Всего</span><span class="strong">2564<img
                                    src="../img/icon--user.svg" alt / class="icon-player"></span></div>
                        </div>
                        <div class="game-content--about">
                            <p>Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки
                                очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников...
                                Рискнешь?</p>
                        </div>
                    </div>
                    <div class="game-content--bottom">
                        <ul class="game-content--params justifyed">
                            <li><img src="../img/icon-players.svg" alt / class="icon"><span>1-6 чел</span></li>
                            <li><img src="../img/icon--joystick.svg" alt / class="icon"><span>шлем, платформа</span>
                            </li>
                            <li><img src="../img/icon--clock.svg" alt / class="icon"><span>30 мин+</span></li>
                        </ul>
                        <div class="game-content--btns"><a href="" data-id="game_001"
                                                           data-action="../js/ajax/get-game.html" data-method="post"
                                                           class="btn btn-white-border js--game-info">Об игре</a><a
                                href="#booking" class="btn btn-red js--open-block">Играть</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div><div data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)"
         data-bgmobile="url(../img/img--games-s-1-mob.jpg)" class="games-slider--el js--open-game"><span
            class="game-number">1</span>

        <div class="game-content">
            <div class="game-content-wrap">
                <div class="slide-wrap">
                    <div class="game-content--top">
                        <div class="game-content--age">16+</div>
                        <ul class="game-content--tags">
                            <li>шутер</li>
                            <li>бродилка</li>
                            <li>зомби</li>
                            <li>эльф</li>
                            <li>огнестрельное оружие</li>
                            <li>команда</li>
                            <li>холодное оружие</li>
                            <li>спасение</li>
                        </ul>
                    </div>
                </div>
                <h2 class="game-content-name">Payday 2</h2>

                <div class="slide-wrap">
                    <div class="game-content--middle justifyed">
                        <div class="game-content--rating">
                            <div class="circle-border">
                                <svg>
                                    <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                    <path stroke-dashoffset="0" stroke-dasharray="220% 314%"
                                          d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z"></path>
                                    <text x="40" y="65">4</text>
                                </svg>
                            </div>
                            <div class="justifyed"><span>Всего</span><span class="strong">2564<img
                                    src="../img/icon--user.svg" alt / class="icon-player"></span></div>
                        </div>
                        <div class="game-content--about">
                            <p>Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки
                                очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников...
                                Рискнешь?</p>
                        </div>
                    </div>
                    <div class="game-content--bottom">
                        <ul class="game-content--params justifyed">
                            <li><img src="../img/icon-players.svg" alt / class="icon"><span>1-6 чел</span></li>
                            <li><img src="../img/icon--joystick.svg" alt / class="icon"><span>шлем, платформа</span>
                            </li>
                            <li><img src="../img/icon--clock.svg" alt / class="icon"><span>30 мин+</span></li>
                        </ul>
                        <div class="game-content--btns"><a href="" data-id="game_001"
                                                           data-action="../js/ajax/get-game.html" data-method="post"
                                                           class="btn btn-white-border js--game-info">Об игре</a><a
                                href="#booking" class="btn btn-red js--open-block">Играть</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
